.menu {
  display: flex;
}

.menuLogoContainer {
  flex: 6;
  cursor: pointer;
}

.menuLogo {
  color: black;
  font-size: "20px";
}

.menuItemContainer {
  flex: 1;
}

.menuItem {
  color: black;
  font-size: "18px";
}

.loginContainer {
  flex: 1;
}

.login {
  color: black;
  font-size: "18px";
}

.menuItemContainer :hover {
  color: aqua;
  cursor: pointer;
  border-bottom: 1px solid aqua;
}
